<!doctype html>
<html lang="ru">
    {% load staticfiles %}
<head>
    <title>
        {% block title %}Локаторы с сайта VHFDX.RU для полевого дня.{% endblock %}
    </title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'learn_foreign_words/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'learn_foreign_words/css/apps.css' %}">
</head>
<body>
    <h2>Локаторы с сайта VHFDX.RU для полевого дня.</h2>
    <a href="//www.r5am.ru">&nbsp;R5AM.RU&nbsp;</a>
</body>
</html>