<!doctype html>
<html lang="ru">
    {% load staticfiles %}
<head>
    <title>
        {% block title %}Запоминатель иностранных слов.{% endblock %}
    </title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'learn_foreign_words/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'learn_foreign_words/css/apps.css' %}">
</head>

<body>
	    <h2>Запоминатель иностранных слов</h2>
    <div class="row">
        <div id="base" class="col-sm-12 col-md-12">
            {% block content %}{% endblock %}
        </div>
    </div>

    <div class="row div-footer">
        <div class="footer col-sm-12 col-md-12">

            <label id="label_basic_dict" class="btn btn-info btn-footer">
                Основной словарь
                <span class="dictCheckbox">
                    <input type="checkbox" value="1" id="checkbox_basic_dict" name="">
                    <label for="checkbox_basic_dict"></label>
                </span>
            </label>

            <label id="label_swodesh_dict" class="btn btn-info btn-footer">
                Словарь Сводеша
                <span class="dictCheckbox">
                    <input type="checkbox" value="1" id="checkbox_swodesh_dict" name="">
                    <label for="checkbox_swodesh_dict"></label>
                </span>
            </label>

            <label id="label_cw_dict" class="btn btn-info btn-footer">
                Словарь CW слов
                <span class="dictCheckbox">
                    <input type="checkbox" value="1" id="checkbox_cw_dict" name="">
                    <label for="checkbox_cw_dict"></label>
                </span>
            </label>

            <label id="label_user_dict" class="btn btn-info btn-footer">
                Cловарь пользователя
                <span class="dictCheckbox">
                    <input type="checkbox" value="1" id="checkbox_user_dict" name="">
                    <label for="checkbox_user_dict"></label>
                </span>
            </label>
        </div>
    </div>


    <div class="row div-footer">
        <div class="footer col-sm-12 col-md-12">
            <a class="btn btn-info btn-footer"
               data-toggle="modal"
               data-target="#aboutModal">
                    О программе
            </a>
            <a href="/learn_foreign_words/load_file/"
               class="btn btn-info btn-footer">
                    Свой словарь
            </a>
        </div>
    </div>
    {% include 'about_modal.html' %}
    <script type="text/javascript"
            src="{% static 'learn_foreign_words/js/jquery.min.js' %}">
    </script>
    <script type="text/javascript"
            src="{% static 'learn_foreign_words/js/bootstrap-modal.js' %}">
    </script>
    <script type="text/javascript">
        $(document).ready(function(){
            $("#checkbox_basic_dict").click(function(){
                if($(this).is(':checked')){
                    alert("Чекбокс базового словаря установлен!")
                    $.ajax({
                        url: '/base_set/',
                        type: 'POST',
                        data: {post_id: 12, text: 'Занятная идея!'},
                    }).success(function (data) {
                        if(data.status == 'ok') {
                            console.log(data.comment_id)
                        }
                    }).error(function () {
                        console.log('http error')
                    })
                } else {
                    alert("Чекбокс базового словаря НЕ установлен!");
                }
            });


            $("#checkbox_swodesh_dict").click(function(){alert("Вы нажали на кнопку Сводеш!");});
        });
    </script>
</body>
</html>

