<!doctype html>
<html lang="ru">
    {% load staticfiles %}
<head>
    <title>
        {% block title %}Запоминатель иностранных слов.{% endblock %}
    </title>
    <meta content="text/html; charset=utf-8" http-equiv="content-type">
    <meta http-equiv="content-language" content="ru">
    <meta http-equiv="Cache-Control" content="no-cache">
    <link rel="stylesheet" type="text/css" href="{% static "learn_foreign_words/css/bootstrap.min.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "learn_foreign_words/css/apps.css" %}" />
</head>

<body>
    <h2>
        Запоминатель иностранных слов
    </h2>
    <div class="row" style="border-width: 0">
        <div class="col-sm-9 col-md-9"
             style="background:darkcyan; min-height:75vh;">
            {% block content %}{% endblock %}
         </div>
        <div class="col-sm-3 col-md-3"
             style="background:darkcyan; min-height:75vh;">
            Здесь будет меню для загрузки своего файла.
        </div>
    </div>

    <div class="row" style="border-width: 0">
        <div class="col-sm-12 col-md-12" style="background:darkslategrey">
            Это футер
        </div>
    </div>

</body>

</html>
