<!doctype html>
<html lang="ru">
    {% load staticfiles %}
<head>
    <title>
        {% block title %}Запоминатель иностранных слов.{% endblock %}
    </title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'learn_foreign_words/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'learn_foreign_words/css/apps.css' %}">
</head>

<body>
	<h2>Запоминатель иностранных слов</h2>
    <a href="//www.r5am.ru">&nbsp;R5AM.RU</a>
    <div class="row">
        <div id="base" class="col-sm-12 col-md-12">
            {% block content %}{% endblock %}
        </div>
    </div>

    <div class="row div-footer">
        <div class="footer col-sm-12 col-md-12">

            <label id="label_basic_dict" class="btn btn-info btn-footer">
                Основной словарь
                <span class="dictCheckbox">
                    <input type="checkbox" value="1" id="checkbox_basic_dict" name="">
                    <label for="checkbox_basic_dict"></label>
                </span>
            </label>

            <label id="label_cw_dict" class="btn btn-info btn-footer">
                Словарь CW слов
                <span class="dictCheckbox">
                    <input type="checkbox" value="1" id="checkbox_cw_dict" name="">
                    <label for="checkbox_cw_dict"></label>
                </span>
            </label>

            <label id="label_swodesh_dict" class="btn btn-info btn-footer">
                Словарь Сводеша
                <span class="dictCheckbox">
                    <input type="checkbox" value="1" id="checkbox_swodesh_dict" name="">
                    <label for="checkbox_swodesh_dict"></label>
                </span>
            </label>

            <label id="label_user_dict" class="btn btn-info btn-footer">
                Cловарь пользователя
                <span class="dictCheckbox">
                    <input type="checkbox" value="1" id="checkbox_user_dict" name="">
                    <label for="checkbox_user_dict"></label>
                </span>
            </label>
        </div>
    </div>


    <div class="row div-footer">
        <div class="footer col-sm-12 col-md-12">
            <a class="btn btn-info btn-footer"
               data-toggle="modal"
               data-target="#aboutModal">
                    О программе
            </a>
            <a href="/learn_foreign_words/load_file/"
               class="btn btn-info btn-footer">
                    Загрузить словарь пользователя
            </a>
        </div>
    </div>
    {% include 'about_modal.html' %}
    <script type="text/javascript"
            src="{% static 'learn_foreign_words/js/jquery.min.js' %}">
    </script>
    <script type="text/javascript"
            src="{% static 'learn_foreign_words/js/bootstrap-modal.js' %}">
    </script>
    <script type="text/javascript">
        {# Изменение состояния чекбоксов на странице и занесение статусов словарей в БД #}
        $(document).ready(function(){
            $("#checkbox_basic_dict").click(function(){
                if($(this).is(':checked')){
                    $.ajax({
                        url: '/learn_foreign_words/dict_status_set/', type: 'POST',
                        data: {basic_dict: 'on'}
                    }).success(function (data) {
                        if(data.status == 'ok') {alert('Используется базовый словарь.')}
                    }).error(function () {alert('Ошибка: Базовый словарь не подключился!')} )
                } else {
                    $.ajax({
                        url: '/learn_foreign_words/dict_status_set/', type: 'POST',
                        data: {basic_dict: 'off'}
                    }).success(function (data) {
                        if(data.status == 'ok') {alert('Базовый словарь отключен.')}
                    }).error(function () {alert('Ошибка: Базовый словарь не отключился!')} )
                }
            });

            $("#checkbox_cw_dict").click(function(){
                if($(this).is(':checked')){
                    $.ajax({
                        url: '/learn_foreign_words/dict_status_set/', type: 'POST',
                        data: {cw_dict: 'on'}
                    }).success(function (data) {
                        if(data.status == 'ok') {alert('Используется CW словарь.')}
                    }).error(function () {alert('Ошибка: CW словарь не подключился!')} )
                } else {
                    $.ajax({
                        url: '/learn_foreign_words/dict_status_set/', type: 'POST',
                        data: {cw_dict: 'off'}
                    }).success(function (data) {
                        if(data.status == 'ok') {alert('CW словарь отключен.')}
                    }).error(function () {alert('Ошибка: CW словарь не отключился!')} )
                }
            });

            $("#checkbox_swodesh_dict").click(function(){
                if($(this).is(':checked')){
                    $.ajax({
                        url: '/learn_foreign_words/dict_status_set/', type: 'POST',
                        data: {swodesh_dict: 'on'}
                    }).success(function (data) {
                        if(data.status == 'ok') {alert('Используется словарь Сводеша.')}
                    }).error(function () {alert('Ошибка: Словарь Сводеша не подключился!')} )
                } else {
                    $.ajax({
                        url: '/learn_foreign_words/dict_status_set/', type: 'POST',
                        data: {swodesh_dict: 'off'}
                    }).success(function (data) {
                        if(data.status == 'ok') {alert('Словарь Сводеша отключен.')}
                    }).error(function () {alert('Ошибка: Словарь Сводеша не отключился!')} )
                }
            });

            $("#checkbox_user_dict").click(function(){
                if($(this).is(':checked')){
                    $.ajax({
                        url: '/learn_foreign_words/dict_status_set/', type: 'POST',
                        data: {user_dict: 'on'}
                    }).success(function (data) {
                        if(data.status == 'ok') {alert('Используется словарь пользователя.')}
                    }).error(function () {alert('Ошибка: Словарь пользователя не подключился!')} )
                } else {
                    $.ajax({
                        url: '/learn_foreign_words/dict_status_set/', type: 'POST',
                        data: {user_dict: 'off'}
                    }).success(function (data) {
                        if(data.status == 'ok') {alert('Словарь пользователя отключен.')}
                    }).error(function () {alert('Ошибка: Словарь пользователя не отключился!')} )
                }
            });
        });

        {# Запуск скриптов из start_page.html после загрузки base_page.html #}
        start_page();

    </script>
</body>
</html>
