{% extends "base_page.html" %}

{% block title %}
    {{ block.super }} Загрузка файла.
{% endblock %}

{% block content %}
    <form action="/learn_foreign_words/load_file/"
          enctype="multipart/form-data"
          method="post">
        {% csrf_token %}
        <h5>Словарь пользователя:</h5>
        <input id="id_my_file" name="my_file" type="file">
        <br>
        <input id="btn-ok" class="btn btn-success btn-block"
               type="submit" value="Загрузить">
    </form>
{% endblock %}