{% extends "base_page.html" %}

{% block title %}
    {{ block.super }} Стартовая страница.
{% endblock %}

{% block content %}
    <h1>{{ random_word.foreign_word }}</h1>

    {% for e in form.non_field_errors %}
        <div>{{ e }}</div>
    {% endfor %}

    <form method="post" action="/learn_foreign_words/">
        {% csrf_token %}
        {% for field in form %}
            <p style="text-align: center">
                {{ field }}<br>
                {% if field.errors %}
                    <div class="alert alert-danger">Не введены данные.</div>
                {% endif %}
            </p>
        {% endfor %}
        <br>
        <p style="text-align: center">
            <button type="submit" class="btn btn-success"> OK </button>
        </p>
    </form>
{% endblock %}
