body {
	background-color: #008080;
    color: #FFFFFF;
    font-family: sans-serif Consolas;
}

div {
    /* Поля вокруг текста */
	padding: 25px 40px;

	/* Углы скруглённые */
    border-radius: 5px;
	border: 0;
}

p {
    text-align: center;
}

a {
    font-size: 3rem;
}

#base {
	background:#008B8B;
	border: 1px solid #FFFFFF;
	min-height:75vh;
}

#footer {
	background:#008B8B;
	border: 1px solid #FFFFFF;
}

#btn-footer {
    font-size: 3rem;
    color:#ffff00;
}

#aboutModal {
	border-width: 2px;
	color: #000000;
	font-size: 2rem;
}

#headerModal {
	color: #0000ff;
	font-weight: bold;
}

#btn-ok {
	font-size: 5rem;
}

#id_my_file {
    /*margin: auto;*/
    width: 100%;
    padding: 1rem;
    background: #008080;
    color: #7fff00;
    border: 2px solid #FFFFFF;
    border-radius: 0.7rem;"
}

#estimation {
    text-decoration: underline;
}

/*******************************************************************************
 * Label                                                                       *
 ******************************************************************************/
h1 {
	color: #FF4400;
	text-align: center;
	font-size: 7rem;
	font-weight: normal;
}

h2 {
	color: #ffff00;
	text-align: center;
	font-size: 7rem;
}

h3 {
	color: #30d030;
	font-weight: bold;
	font-size: 7rem;
	text-align: center;
}

h4 {
	color: #ff0000;
	font-weight: bold;
	font-size: 7rem;
	text-align: center;
}

h5 {
	color: #7fffd4;
	font-size: 5rem;
	text-align: center;
}

/*******************************************************************************
 * TextField                                                                   *
 ******************************************************************************/
form {
	color: #000000;
	font-size: 5rem;
}

sup {
	color: #2f4f4f;
	font-size: 0.5rem;
}

/*******************************************************************************
 * Button                                                                      *
 ******************************************************************************/
.button {
	color: #ffff00;
	background-color: #008080;
	/*	padding: 5 22 5 22;		*/
    border: 1pt #00ffff;
    /*	font-family: Consolas;	*/
	font-size: 12pt;
}

.button:hover {
	background-color: #008080;
	color: #ffffff;
}

.button:focus
{
	background-color: #00a0a0;
	color: #ff0000;
    border: 1pt solid #ffffff;
    border-radius: 0 0;
/*      border-insets: 1 1 1 1, 0;	*/
}

a.button1 {
	font-weight: 700;
	font-size: 3rem;
  	text-decoration: none;
  	padding: .8em 1em calc(.8em + 3px);
  	border-radius: 0.5rem;
  	background: #40d080;
  	box-shadow: 0 -0.5rem #309070 inset;
  	transition: 0.2s;
  	color: #ffffff;
}

a.button1:hover {
    background: #309070;
    color: #ffff00;
}

a.button1:active {
  	background: #21935A;
  	box-shadow: 0 1rem #21935A inset;
}

/*******************************************************************************
 * RadioButton                                                                 *
 ******************************************************************************/
.radio-button {
	color: #ffffff;
	background-color: #009090;
    border-radius: 1.0em;
    border: 2px #00ffff;
}

.radio-button:hover {
    background-color: #e0e0e0;
    border-color: #e0e0e0;
}

.radio-button::selection {
   /* background-color: #ff0000;	*/
}

/*******************************************************************************
 * CheckBox                                                                    *
 ******************************************************************************/
.check-box {
	color: #ffff00;
}

.check-box .box {
    border: 2px #00ffff;
    background-color: #009090;
}

.check-box .box::selection {
	color: #ff0000;
}
