body {
	background-color: #008080;
    color: white;
    font-family: sans-serif Consolas;
}

div {
    /* Поля вокруг текста */
    padding-top: 25px;
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 25px;

    /* Углы скруглённые */
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: white;
}

/*******************************************************************************
 * Label                                                                       *
 ******************************************************************************/
h1 {
	color: orangered;
	text-align: center;
	font-size: 30pt;
	font-weight: normal;
}

h2 {
	color: yellow;
    text-align: center;
}

h3 {
	color: limegreen;
	/*background-color: cyan;*/
	font-weight: bold;
	font-size: 25pt;
	text-align: center;
}

h4 {
	color: red;
	/*background-color: darkblue;*/
	font-weight: bold;
	font-size: 25pt;
	text-align: center;
}

/*******************************************************************************
 * TextField                                                                   *
 ******************************************************************************/
form {
	color: black;
	font-size: 20pt;
}

sup {
	color: darkslategray;
	font-size: 10pt;
}

/*******************************************************************************
 * Button                                                                      *
 ******************************************************************************/


.button {
	color: yellow;
	background-color: teal;
	background-radius: 0;
/*	padding: 5 22 5 22;		*/
    border: 1pt cyan;
    /*	font-family: Consolas;	*/
	font-size: 12pt;
}

.button:hover {
	background-color: teal;
	color: white;
}

.button:focus
{
	background-color: #00a0a0;
	color: red;
    border: 1pt solid white;
    border-radius: 0 0;
/*      border-insets: 1 1 1 1, 0;	*/
}

/*******************************************************************************
 * RadioButton                                                                 *
 ******************************************************************************/
.radio-button {
	color: white;
	background-color: #009090;
	background-radius: 1.0em;
    border-radius: 1.0em;
    border: 2px #00ffff;
}

.radio-button:hover {
    background-color: #e0e0e0;
    border-color: #e0e0e0;
}

.radio-button::selection {
   /* background-color: #ff0000;	*/
}

/*******************************************************************************
 * CheckBox                                                                    *
 ******************************************************************************/
.check-box {
	color: yellow;
}

.check-box .box {
    border: 2px #00ffff;
    background-color: #009090;
}

.check-box .box::selection {
	color: #ff0000;

}

